*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-right: 3%;
    z-index: 10;
}

.navbar_netflix{
    width: 125px;
    height:100%;

}

.navbar_nav_items{
    display: flex;
    gap: 10px;
}

.netflix_logo{
    width: 100%;
    height: 100%;
    background-color: black;
}

.language_dropdown{
    background: transparent;
    border: none;
    color: white;
}

.dropdown_container{
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}

.sign_in{
    border: #dc030f;
    background-color: #dc030f;
    padding:0.25rem 0.5rem;
    color: white;
    border-radius: 4px;
    height: 33px;
    width: 100px;
}

.hero_bg_image-container{
    width: 100%;
    height: 100%;
}

.hero_bg_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_bg_overlay{
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero_card{
    left: 20%;
    position: absolute;
    top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_title{
    font-weight: 600;
    font-size: 3rem;
}

.hero_subtitle,
.hero_description{
    font-weight: 400;
    font-size: 1.3rem;
}

.email{
    width: 450px;
    height: 60px;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border-color: white;
    cursor: pointer;
}

.get_started{
    font-size: large;
    width: 170px;
    height: 60px;
    background-color: #dc030f;
    color: white;
    border: 1px solid #dc030f;
}

.style_cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}
.style_cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}

.card{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 40px;
}
.desc{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
hr{
    border: 10px solid rgb(69, 69, 69);
}

.footer,
.footer a{
    color: grey;
    font-size: 0.9rem;
}
.footer p{
    margin-bottom: 1.5rem;
    padding-left: 50px;
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    padding-left: 50px;
    padding-bottom: 50px;
    
}
.footer li{
    line-height: 1.9;
}
ul{
    list-style-type: none;
}